<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Spring Boot API</title>
</head>
<body>
<h1>Test Spring Boot API</h1>

<!--&lt;!&ndash; Fetch User Section &ndash;&gt;-->
<!--<label for="userIdInput">Enter User ID:</label>-->
<!--<input type="text" id="userIdInput" placeholder="User ID">-->
<!--<button onclick="fetchUser()">Fetch User</button>-->

<!--&lt;!&ndash; Display user information &ndash;&gt;-->
<!--<div id="userData"></div>-->

<!-- Create User Section -->
<h2>Create New User</h2>
<form id="createUserForm">
    <label for="firstNameInput">First Name:</label>
    <input type="text" id="firstNameInput" required>

    <label for="lastNameInput">Last Name:</label>
    <input type="text" id="lastNameInput" required>

    <label for="usernameInput">Username:</label>
    <input type="text" id="usernameInput" required>

    <label for="passwordInput">Password</label>
    <input type="text" id="passwordInput" required>

    <label for="phoneNumberInput">Phone Number:</label>
    <input type="text" id="phoneNumberInput" required>

    <button type="button">Create User</button>
</form>

<script src="../static/js/index.js"></script>
</body>
</html>
